<h2>New Post</h2>
<form>
  {{input value=title id="title"}}
  {{input value=author id="author"}}
  {{input value=postContent id="postContent"}}
  {{input value=date id="date"}}
  {{#each model.categories as |category|}}
    {{radio-button value=category.id checked=selectedCategory}} {{category.name}}
  {{/each}}
  <p>{{multiselect-checkboxes options=model.allTags labelProperty="name" selection=model.modelSelectedTags}}</p>
  {{input value=tags id="tags"}}
  <button {{action "save"}}>Save</button>
</form>
