<h1>{{model.title}}</h1>
<p>Posted by {{model.author}} on {{model.date}}</p>
<hr>
<p>
  {{model.content}}
</p>
<hr>
<p>Posted in: {{model.category.name}} | Tagged: {{#each model.tags as |tag-post|}}{{tag-post.tag.name}}{{/each}}</p>
{{update-post post=model update="update"}}
<button {{action "delete" model}}>Delete</button>
{{new-comment post=model saveComment="saveComment"}}
{{comment-list post=model update="update" deleteComment="delete"}}
